.mega{
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}


.child1{
    background-color: black;
}




@media screen and (max-width:1000px) {
    .mega{
        grid-template-columns: 1fr 1fr;
    }
    
}




@media screen and (max-width:700px) {
    .mega{
        grid-template-columns: 4fr 1fr;
    }
    
}




@media screen and (max-width:400px) {
    .mega{
        grid-template-columns: 1fr;
    }
    
}





/* .gridboxparent{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


img{
    height: 23vh;
}


@media screen and (max-width:1000px) {

    .gridboxparent{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}


@media screen and (max-width:800px) {

    .gridboxparent{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}


@media screen and (max-width:600px) {

    .gridboxparent{
        grid-template-columns: 1fr 1fr;
    }
    
}


@media screen and (max-width:400px) {

    .gridboxparent{
        grid-template-columns: 1fr;
    }
    
} */